<% provide(:title, 'Contact') %>
<h1><%= t 'contact.index.title' %></h1>
<p>
  <%= t 'contact.index.contact_rort' %>
  <a href="https://www.railstutorial.org/contact"><%= t 'contact.index.contact_page' %></a>.
</p>
