<h1> <%= t('app.title') %> </h1>
<p><%= t('app.hi') + @user.name %>,</p>
<p>
<% t('app.welcome') %>
</p>
<%= link_to t('account_activation.edit.activate')), edit_account_activation_url(@user.activation_token, email: @user.email) %>
